<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345492700318-36487hjnkejkp6f4vehr4lfavf1uescd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345492700318-36487hjnkejkp6f4vehr4lfavf1uescd</string>
	<key>API_KEY</key>
	<string>AIzaSyCopwacbujGdt4iKdZ9xNfmytxr-2LSSQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>345492700318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smm.RiderApp</string>
	<key>PROJECT_ID</key>
	<string>ubertesterapp-ce98d</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertesterapp-ce98d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:345492700318:ios:b970342693b31ecb</string>
	<key>DATABASE_URL</key>
	<string>https://ubertesterapp-ce98d.firebaseio.com</string>
</dict>
</plist>
